HOST=0.0.0.0
PORT=1337
APP_KEYS=replaceMe1,replaceMe2,replaceMe3,replaceMe4
API_TOKEN_SALT=replaceMe
ADMIN_JWT_SECRET=replaceMe
TRANSFER_TOKEN_SALT=replaceMe
JWT_SECRET=replaceMe

DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=careerxel
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_SSL=false
